.Suspense h1 {
    padding: 0 10px;
}

.Suspense li {
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.Suspense li:last-child {
    border-bottom: 1px solid #ccc;
}

.Suspense li:hover {
    font-weight: bold;
}

.Suspense button {
    margin: 0 10px 0 0;
    font-size: 30px;
}

.Suspense {
    height: 100vh;
    overflow: scroll;
}

.Suspense .Amiibo {
    display: flex;
    align-items: center;
 }

.Suspense .Amiibo img {
    height: 100px;
    margin-right: 15px;
}
